<div class="cube">
   <img class="cube" src="{{order:}}" />
   <p class="name">{{name}}</p>
   <p><span>Difficulty level:</span> {{dayForDelivery}}</p>
   <p><span>Difficulty level:</span> {{timeForDelivery}}</p>
   <a class="btn" href="/cubes/{{_id}}/details">Details</a>
</div>